//公共样式
body,div,p,ol,ul,li,dl,dt,dd,table,tr,td,form,h1,h2,h3,h4,h5,h6,hr,img,input,fieldset{
    padding:0;
    margin:0;
}
a{  
    color: white;
    text-decoration:none;
}
body{
    width: 100%;
    height: 100%;
    font-family:"微软雅黑";
    font-size: 14px;
    background-color: rgba(0,0,0,1);
}
html{
    height: 100%;
    width: 100%;
}
ul,ol,li{
    list-style:none;
}

//header
header{
    width: 100%;
    background: url(../img/e7d50b6e293405c613c9c5ab072e1423_origin.jpg) no-repeat -412px -75px;
    box-sizing: border-box;  
    position: relative;
    .header_mask_layer{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0,.5);
        top: 0;
        z-index: 0;
    }
    
    .header_box_big{
        border-bottom: 1px solid rgba(209, 209, 209, 0.309804);
        padding: 0 15px;
        position: relative;
        box-sizing: border-box;
//      overflow: hidden;
	    transition:top .5s;
      
        .header_logo{
            height: 75px;
            margin-left: 30px;
            float: left;
            line-height: 75px;
            vertical-align: middle;
            img{
               width: 180px;
            }
        }
        .header_right_ul{
            float: right ;
            margin-right: 30px;

            ul{
            height: 75px;
                
            }
            li{
                float: left;
                a{
                    display: flex;
                    padding: 15px;
                    justify-content: center;
                    height: 45px;
                    align-items: center;
                    position: relative;
                }
                a:last-of-type{
                    padding-right: 0;
                }
                a:hover{
                    background-color: #1a1a1a !important;
                    transition: all .4s ease-in-out;
                }
                a:after{
                    content: "";
                    display: block;
                    width: 0;
                    height: 3px;
                    background-color: #d9d9d9;
                    position: absolute;
                    opacity: 1;
                    bottom: 0;
                    left: 15px;
                    right: auto;
                    top: auto;
                    transition: all 0s ease;
                }
                a:hover:after{
                    content: "";
                    display: block;
                    width: calc(100% - 30px);
                    transition: all 0.3s ease;
                }
            }
            .li_cs{
                position: relative;
                .li_csl_u{
                    display: none;
                    position: absolute;
                    height: 138px;
                    top: 74px;
                    left: 0;
                    color: #fff;
                    text-indent: 24px;
                    li{
                        line-height: 46px;
                        width: 100%;
                        height: 46px;
                        background: #000000;
                        cursor: pointer;
                    }
                    li:hover{
                        background: #D9534F;
                    }
                    width: 160px;
                }
            }
            .imgsss_2{
                height: 50px;
                width: 50px;
                background: url(../img/sssd.png) no-repeat center center;
                display: none;
                margin-right: 20px;
                li{
                    width: 100%;
                    height: 4px;
                    background: #fff;
                    margin-top: 6px;
                    display: none;
                }
                li:last-of-type{
                    width: 100%;
                    background: #4A86E8;
                }
            }
        }
        
    }
    .header_box_big:after{
        content: ".";
        overflow: hidden;
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .yya{
        position:fixed;
        left:0;
        top:0;
        border-bottom: 1px solid rgba(209, 209, 209, 0.309804);
        padding: 0 15px;
        box-sizing: border-box;
//      overflow: hidden;
        width: 100%;
       transition:top .5s;
        background: #000000;
    }
    .gizle{top:-90px;}
    .sabit{top:0;z-index:9999;}
    .header_center{
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        position: relative;
        //加定位是因为我的这个遮罩层有问题，不加都遮住了，很奇怪
        .header_center_box{
            min-height: 280px;
            
            .header_box_tit{
                text-align: center;
                font-size: 36px;
                letter-spacing: 8px;
                margin-bottom: 14px;
                color: rgba(255,255,255,.9);
            }
            .header_box_tit_center{
                text-align: center;
                font-size: 24px;
                color: rgba(255,255,255,.9);
                margin-bottom: 5px;
            }
            .tit_bottom_a{

                display: block;
                width: 300px;
                height: 50px;
                font-size: 14px;
                transform: rotate(0deg) scale(1) translate(0%, 0%);
                transition: all 1s ease;
                color: rgb(222, 222, 222);
                background-color: rgb(74, 134, 232);
                border-style: none;
                border-radius: 4px;
                margin-left: 20px;
                margin-right: 20px;
                text-align: center;
                line-height: 50px;
                margin: 0 auto;
                margin-top: 20px;
            }
        }
        .header_botttom_last{
            position: relative;
            top: 100px;
            img{
                width: 100%;
                position: relative;
                bottom: -5px;
                z-index: 10;
            }
        }
        
    }
    
}

.center{
    width: 100%;
    background: #222222;
    .center_section_1{
        width: 90%;
        margin: 0 auto;
        .section_1_tit{
            position: relative;
            top: 92px;
            width: 60%;
            margin: 0 auto;
            text-align: center;
            padding-top: 50px;
            p{
                padding-top: 20px;
                font-size: 18px;
                font-family: 'Source-Han-Lighc3b78c6041803f' !important;
                color: rgba(255,255,255,.9);
                line-height: 1.7em;
                padding-bottom: 60px;
            }
        }
        .section_1_box{
            width: 100%;
            color: #fff;
            overflow: hidden;
            background: #000;
            .section_1_firstbox{
                width: 33.33%;
                float: left;
                .firstbox_bgm{
                    width: 100%;
                    height: 100px;
                    background: url(../img/section_2.png) no-repeat center;
                }
                .sectionbox_bgm{
                    width: 100%;
                    height: 100px;
                    background: url(../img/section_21.png) no-repeat center;
                    
                }
                .thirdbox_bgm{
                    width: 100%;
                    height: 100px;
                    background: url(../img/section_211.png) no-repeat center;
                }
                .firstbox_tit{
                    text-align: center;
                    font-size: 18px;
                }
                .firstbox_text{
                    padding: 20px;
                    opacity: .8;
                    padding-bottom: 45px;
                }
            }
        }
        .section_1_2box{
            background: #4a86e8;
        }
        .section_1_3box{
            background: #1aad19;
        }
        .section_2_box{
            color: #FFFFFF;
            opacity: .9;
            width: 60%;
            margin: 0 auto;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 10px;
            h3{
                line-height: 1.3em;
                margin-top: 0px;
                font-family: Roboto;
                margin-bottom: 5px;
                font-weight: 100;
                font-size: 60px;
                color: rgb(74, 134, 232);
            }
            h2{
                line-height: 1.3em;
                margin-top: 0px;
                font-family: 'Source-Han-Lighc3b78c6041803f';
                padding-left: 2px;
                padding-right: 2px;
                font-size: 24px;
                font-weight: 100;
            }
        }
    }
    .section_3_box{
        width: 100%;
        margin-bottom: -90px;
        position: relative;
        opacity: 0.1;
        left: -80px;
        img{
            width: 100%;
        }
    }
    .section_4_box{
    
        color: #FFFFFF;
            opacity: .8;
            width: 60%;
            margin: 0 auto;
            text-align: center;
            padding-top: 150px;
            padding-bottom: 50px;
            h3{
                line-height: 1.3em;
                margin-top: 0px;
                font-family: Roboto;
                margin-bottom: 5px;
                font-weight: 100;
                font-size: 60px;
                color: rgb(74, 134, 232);
            }
            h2{
                line-height: 1.3em;
                margin-top: 0px;
                font-family: 'Source-Han-Lighc3b78c6041803f';
                padding-left: 2px;
                padding-right: 2px;
                font-size: 24px;
                font-weight: 100;
            }
    }
    .section_5_img{
        width: 90%;
        margin: 0 auto;
        position: relative;
        left:-80px;
        opacity: 0.1;
        img{
            width: 100%;
        }
    }
    .section_bottom_box{
        width: 100%;
        background: #000000;
    }
    .section_6_box{
        width: 90%;
        margin: 0 auto;
        color: #fff;
        overflow: hidden;
        background: #000;
        .section_1_firstbox{
            width: 33.33%;
            float: left;
            .firstbox_bgm{
                width: 100%;
                height: 100px;
                background: url(../img/sssa3.png) no-repeat center center;
            }
            .sectionbox_bgm{
                width: 100%;
                height: 100px;
                background: url(../img/sssa3.png) no-repeat center center;
            }
            .thirdbox_bgm{
                width: 100%;
                height: 100px;
                background: url(../img/sssa3.png) no-repeat center center;
            }
            .firstbox_tit{
                text-align: center;
                font-size: 18px;
            }
            .firstbox_tits{
                text-align: center;
                 font-size: 16px;
                 padding: 10px 0;
            }
            .firstbox_text{
                padding: 20px;
                opacity: .8;
                padding-bottom: 45px;
                padding-top: 0px;
                text-align: center;
            }
        }
    }
    .section_last_box{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 85px;
        a{
            display: block;
            width: 300px;
            height: 50px;
            font-size: 14px;
            transform: rotate(0deg) scale(1) translate(0%, 0%);
            transition: all 1s ease;
            border-color: rgba(247, 189, 40, 0.792157);
            color: rgb(222, 222, 222);
            background-color: rgb(74, 134, 232);
            border-style: none;
            border-radius: 4px;
            margin: 0 auto;
            text-align: center;
            line-height: 50px;
        }
    }
    .section_bottom_s{
            color: #FFFFFF;
            opacity: .9;
            width: 60%;
            margin: 0 auto;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 10px;
            h3{
                line-height: 1.3em;
                margin-top: 0px;
                font-family: Roboto;
                margin-bottom: 5px;
                font-weight: 100;
                font-size: 60px;
                color: rgb(74, 134, 232);
            }
            h2{
                line-height: 1.3em;
                margin-top: 0px;
                font-family: 'Source-Han-Lighc3b78c6041803f';
                padding-left: 2px;
                padding-right: 2px;
                font-size: 24px;
                font-weight: 100;
                padding-bottom: 60px;
            }
        }
    .bottom_more_box{
        width: 90%;
        margin: 0 auto;
        color: #fff;
        overflow: hidden;
        background: #222222;
        .section_1_firstbox{
            width: 33.33%;
            float: left;
            .firstbox_bgm{
                width: 100%;
                height: 100px;
                background: url(../img/3c47243704ef6ff218252b5d816737c1.png) no-repeat center top;
                background-size: auto 100%;
                
            }
            .sectionbox_bgm{
                width: 100%;
                height: 100px;
                background: url(../img/c9ea25a0ba737ae5421af4f84286c34c.png) no-repeat center top;
                background-size: auto 100%;
            }
            .thirdbox_bgm{
                width: 100%;
                height: 100px;
                background: url(../img/79032df208453b1f3899514704061884.png) no-repeat center top;
                background-size: auto 100%;
            }
            .section_1_4box{
                background: url(../img/2720f6701751d069675301ce0b0b33bc.png) no-repeat center top;
                background-size: auto 100%;
            }
            .section_1_5box{
                background: url(../img/414f9078dc937808d087a3e41cffbd06.png) no-repeat center top;
                background-size: auto 100%;
            }
            .section_1_6box{
                background: url(../img/fa6ab4e97240df1e830091d5c5261f3d.png) no-repeat center top;
                background-size: auto 100%;
            }
            .section_1_7box{
                background: url(../img/acfd5436868ab474133cfec84b97e367.png) no-repeat center top;
                background-size: auto 100%;
            }
            .section_1_8box{
                background: url(../img/1d3b80b2dd44d6d55af34f271476482c.png) no-repeat center top;
                background-size: auto 100%;
            }
            .section_1_9box{
                background: url(../img/fa69de24588631a1bad4f0871fe5a82b.png) no-repeat center top;
                background-size: auto 100%;
            }
            .firstbox_tit{
                text-align: center;
                font-size: 18px;
            }
            .firstbox_tits{
                text-align: center;
                 font-size: 16px;
                 padding: 10px 0;
            }
            .firstbox_text{
                padding: 20px;
                opacity: .8;
                padding-bottom: 45px;
                padding-top: 0px;
                text-align: center;
            }
        }
    }
}
.footer{
    
    .footer_box{
        position: relative;
        width: 100%;
        padding-top: 100px;
        background: url(../img/3edbb7bc8b0b8cc5f503f2db72d3c70d_origin.jpg);
        .footer_box_tit{
            color: #FFFFFF;
            opacity: .9;
            width: 60%;
            margin: 0 auto;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 10px;
            h3{
                line-height: 1.3em;
                margin-top: 0px;
                font-family: Roboto;
                margin-bottom: 5px;
                font-weight: 100;
                font-size: 60px;
                color: rgb(74, 134, 232);
            }
            h2{
                line-height: 1.3em;
                margin-top: 0px;
                font-family: 'Source-Han-Lighc3b78c6041803f';
                padding-left: 2px;
                padding-right: 2px;
                font-size: 24px;
                font-weight: 100;
            }
            .footer_bottom_sbox{
                width: 90%;
                margin: 0 auto;
                overflow: hidden;
                
                .left_box{
                    float: left;
                    width: 140px;
                    height: 40px;
                    background:url(../img/c9d9596b318739757a8589d26d1802b3.png) ;
                    background-size:auto 100% ;
                    margin-top: 50px;
                    margin-left: 10%;
                }
                .xian{
                    margin-top: 35px;
                    float: left;
                    height: 90px;
                    width: 1px;
                    background: #D9D9D9;
                    margin-left: 20px;
                }
                .right_box{
                    float: left;
                    width: 180px;
                    height: 30px;
                    background:url(../img/7d3f1c8fb1de30cccaed4c7ec75f8147.png) no-repeat;
                    background-size:auto 100% ;
                    margin-top: 50px;
                    margin-left: 20px;
                }
            }
            
        }
        .footer_mark_layer{
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0,0,0,.5);
            top: 0;
            z-index: 0;     
        }
    }
    .footer_bottom_list{
        width: 100%;
        background: #000000;
        color: rgba(255,255,255,.6);
        a{
            color: rgba(255,255,255,.6);
        }
        a:hover{
                    color: #d9534f;
            }
        .bottom_section_1{
            width:90%;
            margin: 0 auto;
            overflow: hidden;
            
            .bottom_box_1{
                width: 25%;
                float: left;
                padding-top: 20px;
                font-size: 12px;
                p{
                    width: 90%;
                    font-size: 18px;
                    margin-bottom: 10px;
                    border-right: 1px solid #999;
                }
                li{
                    padding-bottom: 5px;
                    img{
                        vertical-align: middle;
                    }
                }
            }
            .bottom_last_img{
                display: block;
                width: 120px;
                height: 40px;
                background: url(../img/c9d9596b318739757a8589d26d1802b3.png) no-repeat;
                background-size:100% auto ;
            }
        }
        .bottom_section_2{
            width:90%;
            border-top: 1px solid rgba(255,255,255,.6);
            margin: 0 auto;
            overflow: hidden;
            margin-top: 10px;
            font-size: 12px;
            .section_2_top{
                width: 100%;
                overflow: hidden;
                padding-top: 5px;
                margin-bottom: 50px;
                .section_2_left{
                    float: left;
                }
                .section_2_right{
                    float: right;
                }
            }
            .section_2_bottom{
                a{
                    font-size: 14px;
                    color: #444;
                    line-height: 28px;
                }
            }
        }
    }
    
}
//媒体查询
@media (min-width:1200px){
    .header_center,.center_section_1,.section_5_img,
    .section_6_box,
    .bottom_section_1,.bottom_section_2{
        width: 90% !important;
    }
}
@media (max-width:1200px){
    .header_center,.section_5_img,
    .section_6_box,
    .bottom_section_1,.bottom_section_2{
        width: 80% !important;
    }
    .header_center{
        width: 90% !important;
    }
    .header_box_big{
        padding: 0;
        margin: 0 auto;
    }
}
@media (max-width:905px){
    .header_box_big{
        padding: 0 !important;
    }

}
@media (max-width:870px){
    .header_right_ul{
        margin: 0 !important;
    }

}
@media (max-width:850px){
   .bottom_more_box{
       width: 100% !important;
   } 
}

@media (max-width:840px){
        .header_logo{
        margin: 0 !important;
    }
}
@media (max-width:804px){
    .header_box_big{
        width: 100% !important;
    }
}
@media (max-width:770px){
    .right_ul{
        height: 0 !important;
        li{
            display: none;
        }
        
    }
    .imgsss_2{
            display: block !important;
        }
    .header_box_tit{
        font-size: 30px !important;
        text-align: left !important;
//      text-indent: -40px;
    }
    .header_box_tit_center{
        font-size: 20px !important;
        text-align: left !important;
//      text-indent: -40px;
    }
    .header_botttom_last{
        display: none;
    }
    header{
        background-position:0px 0px !important;
        background-size:100% 100% !important;
        
    }
    .tit_bottom_a{
        margin-top: 125px !important;
        width: 100% !important;
    }
//  .header_box_big{
//      height: 50% !important;
//  }
    .header_logo{
        height: 50px !important;
        line-height: 56px !important;
        text-indent: 24px;
        img{
            width: 160px !important;
        }
    }
    .section_1_firstbox{
        width: 100% !important;
    }
    .section_2_box{
        width: 100% !important;
        text-align: left !important; 
        h3{
            font-size: 40px !important;
        }
        h2{
            font-size: 24px !important;
        }
        .section_2_text{
            font-size: 13px !important;
        }
    }
    .section_4_box,.section_bottom_s,.footer_box_tit{
        width: 320px !important;
        margin-left: 50px !important;
        text-align: left !important; 
        h3{
            font-size: 40px !important;
        }
        h2{
            font-size: 24px !important;
        }
        .section_2_text{
            font-size: 13px !important;
        }
        
    }
    .section_5_img{
        display: none;
    }
    .section_6_box{
        width: 100% !important;
    }
    .section_6_box{
        .section_1_firstbox{
        width: 50% !important;
        .firstbox_text{
            display: none;
        }
    }
    }
    
    .section_last_box a{
        width: 95% !important;
    }
    .bottom_more_box{
        width: 90% !important;
        .section_1_firstbox{
            width: 50% !important;
            .firstbox_bgm,.sectionbox_bgm,.thirdbox_bgm{
                background-size:auto 80% !important;
            }
            .firstbox_text{
                display: none;
            }
        }
    }
    .footer_box_tit{
        width: 90% !important;
        .section_2_text{
            width: 280px !important;
            
        }
        .footer_bottom_sbox{
        width: 100% !important;
        .left_box{
            margin: 30px 0 !important;
        }
        .xian{
            display: none;
        }
        .right_box{
            background-size: auto 80% !important;
            margin: 40px 0 !important;
            margin-left: 150px !important;
            
        }
    }
    }
    .bottom_section_1,.bottom_section_2{
        width: 100% !important;
        .bottom_box_1{
            width: 50% !important;
           
        }
         p{
                border-right:0 !important;
           }
    }
    .section_2_right,.section_2_left{
        float: none !important;
        margin-top: 10px;
    }
}
@media (max-width:690px){
    header{
        background-position:0px 0px !important;
        background-size:auto 100% !important;
        
    }
}
@media (max-width:375px){
    .bottom_section_2{
        display: none;
    }
    .footer_box_tit .footer_bottom_sbox{
        .right_box{
            margin-left: 0 !important;
        }
    }
    .section_3_box{
        display: none;
    }
    .header_logo{
        display: none !important;
    }
    header .header_center .header_center_box .header_box_tit{
        font-size: 18px !important;
    }
    header .header_center .header_center_box .header_box_tit_center{
        font-size: 14px !important;
    }
    .header_right_ul{
        width: 100% !important;
    }
    .imgsss_2{
        width: 90% !important;
        margin: 0 auto;
        background: none !important;
        li{
            display: block !important;
            border-radius: 4px;
        }
    }
    .section_1_tit{
        width: 100% !important;
    }
    .section_1_firstbox{
    }
    .center .center_section_1 .section_1_box .section_1_firstbox .firstbox_text{
        display: none;
    }
    .section_2_box{
        h3{
            font-size: 30px !important;
            text-align: center;
        }
        h2{
            text-align: center;
        }
        .section_2_text{
            display: none;
        }
        
    }
    .section_4_box,.section_4_box{
            margin:0 auto !important;
            padding: 30px 0 !important;
             h3{
            text-align: center;
            font-size: 30px !important;
        }
        h2{
            text-align: center;
        }
         .section_2_text{
            display: none;
        }
    }
    .section_4_box, .section_bottom_s, .footer_box_tit{
        margin:0 auto !important;
        padding-left: 50px;
    }
    .section_2_box:hover,.section_4_box:hover,.section_bottom_s:hover{
        background: #D9534F;
    }
    .center .section_6_box .section_1_firstbox{
        width: 100% !important;
    }
    
    .bottom_more_box{
        display: none;
    }
    .footer .footer_bottom_list .bottom_section_1 .bottom_box_1{
        width: 100% !important;
    }
    .bottom_box_1{
        margin: 0 auto !important;
        text-align: center;
        li{
            display: none;
        }
       
    }
    .bottom_box_1:hover{
        background: #D9534F;
    }
    .bottom_last_img{
        margin: 0 auto !important;
    }
}